* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.theme--mode {
  /* background: url();
  background-size: cover; */
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme--mode.dark {
  background-color: #1d1d1d;
}
.card {
  width: 30%;
  min-height: 40vh;
  background-color: #1d1d1d;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  box-shadow: 0 0 10px #4b4a4a55;
  padding-block: 2rem;
  padding-inline: 1rem;
  color: #fff;
}
.theme--mode.dark .card {
  box-shadow: 0 0 10px #2f2f2f7e;
  background-color: #fff;
  color: #1d1d1d;
}
@media (max-width: 786px) {
  .card {
    width: 90% !important;
  }
}
.card--image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #000000bb;
  overflow: hidden;
  margin: auto;
}
.card--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card--description {
  margin-top: 1rem;
  text-align: center;
}
.card--description h2 {
  margin-bottom: 0.5rem;
}
.mode {
  width: 7rem;
  height: 6vh;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px #3333334e;
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}
.mode.dark {
  background-color: #3c3b3b;
  box-shadow: 0 0 10px #000000bb;
}
.mode .mode--image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 14%;
  margin-left: 10px;
  background-image: url(./Assets/images/sun.png);
  background-size: cover;
  transform: translateY(-50);
  -webkit-transform: translateY(-50);
  -moz-transform: translateY(-50);
  -ms-transform: translateY(-50);
  -o-transform: translateY(-50);
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}
.mode.dark .mode--image {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(./Assets/images/moon.png);
  background-size: cover;
  background-repeat: no-repeat;
  right: 1rem;
}